<!doctype html>
<html lang="en">
<head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as ndCtrl">
        <h1>Narrow Down Your Chinese Menu Choice</h1>

        <div class="form-group">
            <input ng-model="ndCtrl.searchTerm" type="text" placeholder="search term" class="form-control">
        </div>
        <div class="form-group narrow-button">
            <button ng-click="ndCtrl.searchItem()" class="btn btn-primary">Narrow It Down For Me!</button>
        </div>
        <div style="margin-top: 100px">
            <!-- found-items should be implemented as a component -->
            <found-items items="ndCtrl" on-remove="ndCtrl.removeItem(index)"></found-items>
        </div>
    </div>

</body>
</html>
