<p class="textAlignCenter" ng-if="!$ctrl.customer.firstName">
	Not Signed Up Yet. <a ui-sref="public.signUp">Sign up Now!</a>
</p>
<div class="container" ng-if="$ctrl.customer">
	<p>
		<label class="myInfoLabel">Full Name:</label>
		{{$ctrl.customer.firstName}} {{$ctrl.customer.lastName}}
	</p>
	<p>
		<label class="myInfoLabel">E-Mail:</label>
		{{$ctrl.customer.eMail}}
	</p>
	<p>
		<label class="myInfoLabel">Phone:</label>
		{{$ctrl.customer.phoneNumber}}
	</p>
	<h2 class="textAlignCenter">And Below My Favorite Dish!</h2>
	<p>
		<label class="myInfoLabel">Menu Number:</label>
		{{$ctrl.customer.favoriteDish.short_name}}
	</p>
	<p>
		<label class="myInfoLabel">Dish:</label>
		{{$ctrl.customer.favoriteDish.name | FirstCapitalLetter}}
	</p>
	<p>
		<label class="myInfoLabel displayTableCell">Description:</label>
		<span id="myInfoDishDescription" class="displayTableCell">
			<span ng-repeat="description in $ctrl.customer.favoriteDish.description">{{description | FirstCapitalLetter}}<br></span>
		</span>
	</p>
	<p ng-if="$ctrl.customer.favoriteDish.price_small">
		<label class="myInfoLabel">{{$ctrl.customer.favoriteDish.small_portion_name | FirstCapitalLetter : 'small'}}:</label>
		{{$ctrl.customer.favoriteDish.price_small | currency}}
	</p>
	<p ng-if="$ctrl.customer.favoriteDish.price_large">
		<label class="myInfoLabel">{{$ctrl.customer.favoriteDish.large_portion_name | FirstCapitalLetter : 'large'}}:</label>
		{{$ctrl.customer.favoriteDish.price_large | currency}}
	</p>
	<img id="favoriteDishPicture" ng-src="images/menu/{{$ctrl.customer.favoriteDish.picture.category}}/{{$ctrl.customer.favoriteDish.picture.categoryItem}}.jpg"/>
</div>
