<form
	name="signUp"
	id="signUp"
	novalidate
	class="container textAlignCenter"
	ng-submit="signUpCtrl.submit(signUp);">
	<h1>Sign Up Form</h1>
	<p class="displayTable">
		<span class="displayTableCell">
			<label for="firstName">First Name:</label>
			<input
				type="text"
				name="firstName"
				id="firstName"
				required
				ng-model="signUpCtrl.customer.firstName">
            <span
				class="displayFlow errorMessage"
				ng-if="signUp.firstName.$error.required && signUp.firstName.$touched">
				First Name is Required!
			</span>
		</span>
		<span class="displayTableCell">
			<label for="lastName">Last Name:</label>
			<input
				type="text"
				name="lastName"
				id="lastName"
				required
				ng-model="signUpCtrl.customer.lastName">
		    <span
				class="displayFlow errorMessage"
				ng-if="signUp.lastName.$error.required && signUp.lastName.$touched">
				Last Name is Required!
			</span>
		</span>
	</p>
	<p class="textAlignLeft displayTable">
		<label for="eMail" class="displayTableCell">E-Mail:</label>
		<input
			type="text"
			name="eMail"
			id="eMail"
			required
			class="displayTableCell"
			ng-model="signUpCtrl.customer.eMail">
	</p>
	<p class="displayTable"
	   ng-if="signUp.eMail.$error.required && signUp.eMail.$touched">
		<span class="displayTableCell errorMessage">
			E-Mail is Required!
		</span>
	</p>
	<p class="textAlignLeft">
		<label for="phoneNumber">Phone:</label>
		<input
			type="text"
			name="phoneNumber"
			id="phoneNumber"
			required
			ng-model="signUpCtrl.customer.phoneNumber">
		<span
			class="errorMessage"
			ng-if="signUp.phoneNumber.$error.required && signUp.phoneNumber.$touched">
			Phone Number is Required!
		</span>
	</p>
	<p id="favoriteDishParagraph" class="textAlignLeft displayTable">
		<span id="favoriteDishSpan" class="displayTableCell">
			<label for="menuNumber">Favorite Dish:</label>
			<input
				type="text"
				name="menuNumber"
				id="menuNumber"
				required
				ng-minlength="2"
				maxlength="4"
				ng-model="signUpCtrl.customer.menuNumber"
				ng-change="signUpCtrl.getMenuItem()">
		</span>
		<input
			type="text"
			name="favoriteDishName"
			id="favoriteDishName"
			disabled
			required
			ng-model="signUpCtrl.customer.favoriteDish.name">
	</p>
	<p>
		<span
			class="errorMessage"
			ng-if="signUp.menuNumber.$error.required && signUp.menuNumber.$touched">
			Favorite Dish is Required!
		</span>
		<span
			class="errorMessage"
			ng-if="!signUp.menuNumber.$error.required && signUp.favoriteDishName.$error.required">
			No Such Menu Number Exists!
		</span>
	</p>
	<p>
		<input
			type="submit"
			id="signUpSubmit"
			value="Submit"
			ng-disabled="signUp.$invalid">
	</p>
</form>
